.confirmationPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #dfd6d6;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.orderHeaders {
  font-size: 25px !important;
}
.itemId {
  font-size: 20px !important;
}
.confirmationHeader {
  color: purple !important;
}
